@font-face {
    font-family: 'GeneralSans';
    src: url('../fonts/GeneralSans-Bold.otf'); 
    src: url('../fonts/GeneralSans-Extralight.otf'); 
    src: url('../fonts/GeneralSans-Light.otf'); 
    src: url('../fonts/GeneralSans-Medium.otf'); 
    src: url('../fonts/GeneralSans-Regular.otf'); 
    src: url('../fonts/GeneralSans-Semibold.otf'); 
  }


body {
    background-color: #0f1828;
    margin: 0;
    font-family: GeneralSans;
    color: #e3e4e5;
}

/* Fonts Styling */

.footer__header-link {
    color: #FAE6AA;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: left;
}

.footer__link {
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
}

/* Footer Formatting */

.footer__top, .footer__branding, .footer__navigation {
    padding: 2rem;
    margin: 1rem;
} 

.footer {
    justify-content: center;
  }

.footer__top {
    display: flex;
    justify-content: center;  
} 

.footer, .footer__branding, .footer__contact {
    display: flex;
    flex-direction: column;  
} 

.footer__contact-info {
    display: flex;
    align-items: center;
    justify-content: left;
}

.footer__contact-text {
    margin-left: 0.5rem;
}

/* Footer Navigation Section */

.footer__navigation {
    display: flex;
    width: 456px;
    height: 238px;
    gap: 18px;
}


.footer__group-links {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    padding: 0; 
    margin: 0;  
}


.footer__group-links li {
    box-sizing: border-box;
    line-height: 2rem; 
}




/* Footer icons */
.footer__icon path {
    fill: #ffffff;
}


/* Social Media Group */

.footer__socmed {
    display: flex;
    flex-direction: column;
}

.footer__socmed-group {
    display: flex;
    padding: 0.5rem;
    margin: 0.5rem;
    gap: 12px;
}

.footer__socmed-image {
    width: 48px;
    height: 48px;  
}

.footer__socmed-group-icons {
    background: #0094961A;
    text-decoration: none;
    padding: 12px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.footer__socmed-group-icons:hover {
    background-color: #ffe1d6;  
  }

.footer__socmed-link {
    display: flex;             
    justify-content: center;  
    align-items: center;       
}

.footer__socmed-icon {
    width: 24px;
    height: 24px;
}



/* Footer Bottom Section */



.footer__bottom {
    text-align: center;
}

hr {  
    border-top: 1px solid #e3e4e5;
    width: 90%;
  }

.footer__bottom-footnote {
    flex-direction: column;
}

.footer__bottom-footnote, .footer__bottom-footnote-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__bottom-footnote-content {
    margin-left: 0.5rem;
    padding-bottom: 0;
    font-size: small; 
}

.footer__socmed-textlink {
    text-decoration: none;
    color: #ffffff;
}

