
.nav {
    display: flex;   
    font-family: GeneralSans;
    font-weight: 500;   
    gap: 4px;
}

.nav__link {
    position: relative;   /*ADDED */
    display: flex;
    align-items: center;
}

.nav__icon {
    width: 15px;
    height: auto;
    margin-left: 0.4rem;
}

.nav__link:hover {
    background-color: #ffe1d6;
    border-radius: 30px;
}
