.nav {
    display: flex;   
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    /*new from figma*/
    width: Hug (689px)px;
    height: Hug (48px)px;
    top: 16px;
    left: 316px;
    gap: 4px;
    opacity: 0px;
}

.nav__link {
    color: #333333;
    float: left;
    font-size: 17px;
    padding: 14px 16px;
    text-decoration: none;
    position: relative;   /*ADDED */
}

.nav__icon {
    width: 15px;
    height: auto;
    margin-left: 0.4rem;
}

.nav__link:hover {
    background-color: #ffe1d6;
    border-radius: 30px;
}

