.nav__link {
    color: #333333;
    float: left;
    font-size: 17px;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.nav__icon {
    width: 15px;
    height: auto;
    margin-left: 2px;
}

.nav__link:hover {
    background-color: #ffe1d6;
    border-radius: 30px;
}
