html, body {
    margin: 0;
    padding: 0; 
    font-family: "General Sans", sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

h1, h2, h3, h5, p, 
.subtitle, 
.properties_navlink,
.gotcha-span,
.geist-text,
.statistics__text-number,
.footer_navlink  {
    text-align: left;
}

h1, h2, h3, h5,
.title,
.subtitle,
.geist-text,
.feature__text-description-span {
    font-weight: 600;
} 

h1 {
    font-size: 3rem;
    line-height: 52px;
}

h2 {
    font-size: 2.5rem;
    line-height: 44px;
}

h1 > .gotcha-span {
    font-size: 4.125rem;
    color: #007173;
}

h2 > .gotcha-span {
    font-size: 3.75rem;
    color: #007173;
}

h3 {
    font-size: 2rem;
    line-height: 40px;
    margin: 0;
}

 
h4,
.statistics__text-stat,
.proposition__title {
    font-size: 1.625rem;
    font-weight: 500;
    line-height: 32px;
}

h5 {
    font-size: 1.25rem;
    line-height: 26px;
    margin: 0;
}

.footer_navlink, 
p,
.filter__select-box {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
}

a {
    text-decoration: none;
  }

 /* Spans */ 
.gotcha-span {
    font-family: "Gotcha Regular", sans-serif;
    font-weight: 400;
    line-height: 44px;
}

.geist-text {
    font-family: "Geist Mono", monospace;
    font-size: 2rem;
    line-height: 32px;
    letter-spacing: 0.5px;
}


/* Main Hero  - Hero and About Us Section */
.paragraph_regular,
.paragraph_regular-darkgray  {
    font-size: 1.125rem;
    line-height: 26px;
}

.paragraph_regular-darkgray {
    color: #383838;
}


/* Main Hero  - About Us Section */

.subtitle {
    font-size: 0.813rem;
    line-height: 18px;
    letter-spacing: 2px;   
}

.subtitle,
.feature__heading {
    color: #0F1828;
}

.feature__text  {
    color: #007173;
    letter-spacing: 0;
    }

 
/* Main-Hero: Value Proposition Section */
.date-month,
.proposition__header {
    color: #FFFFFF;
}

.proposition__header > .gotcha-span {
    color: #FFE1D6;
    font-size: 3.75rem;
}

.proposition__header-paragraph,
.proposition__paragraph {
    color: #F1EAE6;
}

.proposition__number {
    color: #FAE6AA;
}

.proposition__title {
    color: #FFFFFF;  
    margin: 0;
    padding: 0.3rem;
}

.proposition__paragraph {   
    margin: 0;
    padding: 0.3rem;
    }

/* Main-Content - Properties Section  */

.title {
    font-family: "General Sans", sans-serif; 
    font-size: 2.5rem;
    line-height: 44px;
    padding: 0;
    margin: 0;
    color: #0F1828;
}

.title > .gotcha-span {
    color: #007173;
    font-size: 60px;
}

.properties__header-link-title {
    font-size: 1.25rem;
    line-height: 26px;
    }


/* Main-Content - Statistics Section  */

.statistics__text-number {
    color: #007173;
    margin: 0;
    padding: 0.5rem 0;
}

.statistics__text-stat {
    color: #0F1828;
    margin: 0;
    padding: 0;
   }

/* Footer Section */

.footer__header-link {
    color: #FAE6AA;
}


/* News Page  */
h1 > .news__span.gotcha-span {
    color: #FFE1D6;
}

/*
.news-subtitle {
    color: #007173;
    margin-bottom: 0.5rem;
    letter-spacing: 0;
} */