@font-face {
  font-family: 'General Sans';
  src: url('../../fonts/GeneralSans-Extralight.otf');
  font-weight: 200; /* Extralight weight */
}

@font-face {
  font-family: 'General Sans';
  src: url('../../fonts/GeneralSans-Light.otf');
  font-weight: 300; /* Light weight */
}

@font-face {
  font-family: 'General Sans';
  src: url('../../fonts/GeneralSans-Medium.otf');
  font-weight: 500; /* Medium weight */
}

@font-face {
  font-family: 'General Sans';
  src: url('../../fonts/GeneralSans-Regular.otf');
  font-weight: 400; /* Regular weight */
}

@font-face {
  font-family: 'General Sans';
  src: url('../../fonts/GeneralSans-Semibold.otf');
  font-weight: 600; /* Semibold weight */
}

@font-face {
  font-family: 'General Sans';
  src: url('../../fonts/GeneralSans-Bold.otf');
  font-weight: 700; /* Bold weight */
}
  

@font-face {
  font-family: 'Gotcha Regular';
  src: url('../../fonts/gotcha-regular.ttf');
}
