header {
    background-color: transparent;
    justify-content: center;  
}

.navbar {
    background-color: #ffffff;
    box-shadow: 0px 4px 32px 17px #00000008;
    border-radius: 100px;
    margin: 25px auto; 
    width: 100%;
    max-width: 1320px; 
    padding: 0px 16px;
    position: fixed;
}

.navbar__frame {
    width: 100%;
    margin: 0;
    padding: 0 16px; 
    justify-content: space-between;
    list-style-type: none; 
}

.navbar__frame,
.navbar__item {
    align-items: center;
}


/* Media Queries */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .navbar__frame {
        align-items: center;
    }

}






  