.container {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    }

.row {
    width: 100%;
    display: flex;

    box-sizing: border-box;
}

.column {
    display: flex;
    flex-direction: column;
}

.content-box {
    display: flex;
    width: 90%;
    height: auto;
    gap: 5rem;
    padding-top: 10rem;
}

.is-same-length {
    flex: 1;
    display: flex;
}


.is-centered-col {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}