.button, .header-link-button {
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-family: "General Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;   
  gap: 0.5rem;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  }

/* Header Buttons */  

.button.search-component__button, .search-component__button--header, .header-link-button {
  background-color: #007173;
  color: white; 
}


.search-component__button--footer {
  background-color: #00BFC3;
  color: #0F1828;
  top: 13rem;
  left: 72rem;
  padding: 16px 40px 16px 40px;
  width: 100%;
}

.button.search-component__icon-button {
  background-color: transparent;
  border: none; 
  cursor: pointer; 
  width: 20px;
  height: auto;
  display: flex;
  justify-content: center;
}


.button:hover {
  background-color: #ffe1d6;  
  color: #0F1828;
}