.button, 
.header-link-button,
.link-button {
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-family: "General Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;   
  gap: 0.5rem;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  }

/* Header Buttons */  

.button.search-component__button, 
.search-component__button--header, 
.header-link-button,
.header-button,
.link-button {
  background-color: #007173;
  color: white; 
}


.search-component__button--footer,
.button:hover,
.outline-button {
  color: #0F1828;
} 


.search-component__button--footer {
  background-color: #00BFC3;
  top: 13rem;
  left: 72rem;
  padding: 16px 40px 16px 40px;
  width: 100%;
}

.button.search-component__icon-button {
  background-color: transparent;
  border: none; 
  cursor: pointer; 
  width: 20px;
  height: auto;
  display: flex;
  justify-content: center;
}


.button:hover {
  background-color: #ffe1d6;  
}

/* New Button */

.header-button {
  padding: 16px 24px 16px 24px;
  gap: 8px;

}

/* Outline Button */
.outline-button {
  border: 1px solid #0F182880;
}


/* Dropdown CSS */
.header-dropdown-properties__learnmore-link {
  display: flex; 
  align-items: center;
  color: #007173; 
  text-decoration: none;
  gap: 8px;
}

.header-dropdown-properties__learnmore-text {
  font-family: "General Sans", sans-serif;
  font-weight: 600;
  text-align: left;
  font-size: 1rem;
  line-height: 24px;   
  letter-spacing: 0px;
}

.header-dropdown-properties__arrow-icon {
  width: 20px;
  height: 20px;
}

/* Filter */
.filter-group {
  padding: 12px;
  gap: 8px;
  border-radius: 100px;
  border: 1px 0px 0px 0px;
  background-color: #F4833A1A;
}

.filter__select-text,
.filter__text {
  text-transform: uppercase;
}

.filter__close-icon {
  width: 16px;
  height: auto;
  opacity: 0.5px;
}

.filter__text {
  margin: 0;
  letter-spacing: 0;
}

.filter__custom-select {
  /* width: 371px;  */
  gap: 12px;
  flex-wrap: wrap;
} 
 

.filter__select-box {
  width: 280px;
  padding: 8px 16px;
  border-radius: 8px;
  border: 0.3px none;
  background-color: #e3e4e5;
  color: #5E5E5E;
  }


  
  /* Breadcrumb */
  .breadcrumb {
  gap: 5px;
}

.breadcrumb-link {
  color: #FFFFFF;
}

.breadcrumb-link:visited {  
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #FFE1D6;
}


/* Subscription  */

.subscription__form {
  align-self: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.subscription__input {
  width: 392px;
  height: auto;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  color: #5E5E5E;
}