.nav__link {
    color: #0F1828;
    float: left;
    font-size: 1rem;
    text-decoration: none;
    font-family: "General Sans", sans-serif;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    
    /* Add from figma*/
    padding: 12px 16px;
    gap: 8px;
    border-radius: 100px;
}

.nav__icon {   
    /*figma*/
    width: 10px;
    height: 10px;  
}

.nav__link:hover {
    background-color: #ffe1d6;
    border-radius: 100px;
}
