<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <link rel="stylesheet" href="../css/atoms/button.css">
        <link rel="stylesheet" href="../css/components/navigation-dropdown.css">
        <link rel="stylesheet" href="../css/globals/font-face.css">
        <link rel="stylesheet" href="../css/globals/base.css">
        <link rel="stylesheet" href="../css/components/card.css">

    </head>
    
    <body>
    

       
                <div class="card row">            
        
                    <div  class="card__content column">
                        <div class="card__content-image">
                            <img class="card__image" src="../images/components/property-card-howto.jpg" alt="building">
                        </div>
                        <div class="card__content__text">
                            <p class="card__subtitle subtitle">Real Stories, Inclusive Communities</p>
                            <h4 class="card__heading">Navigating the World of Specialist Disability Accommodation</h4>
                            <p class="card__content">Egestas morbi non at sit in leo fringilla nunc. 
                                Sit nisl ornare tempus sed. Vitae leo ac scelerisque eleifend
                            </p>
                        </div>
                    </div>
                </div>
 




    </body>
    
    </html>