<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
      
        <!-- Atoms -->
        <link rel="stylesheet" href="../css/atoms/button.css">

        <!-- Components -->
        <link rel="stylesheet" href="../css/components/card.css">
      
        <!-- Globals -->
        <link rel="stylesheet" href="../css/globals/font-face.css">
        <link rel="stylesheet" href="../css/globals/base.css">
        <link rel="stylesheet" href="../css/globals/utilities.css">
        
    </head>
    
    <body>
       
                <div class="card row">            
                    <div  class="card__content column">
                        <div class="card__content-image">
                            <img class="card__image" src="../images/components/property-card-howto.jpg" alt="building">
                        </div>
                        <div class="card__content__text column">
                            <p class="card__subtitle subtitle">Real Stories, Inclusive Communities</p>
                            <h4 class="card__heading">Navigating the World of Specialist Disability Accommodation</h4>
                            <p class="card__description">Egestas morbi non at sit in leo fringilla nunc. 
                                Sit nisl ornare tempus sed. Vitae leo ac scelerisque eleifend
                            </p>
                        </div>
                    </div>
                </div>
 
<!-- Clickable Card -->

<div class="card row">            
    <div class="card__content column">
        <div class="card__content-image">
            <img class="card__image" src="../images/components/property-card-howto.jpg" alt="building">
        </div>
        <div class="card__content__text column flexible">
            <p class="card__subtitle subtitle">Real Stories, Inclusive Communities</p>
            <h4 class="card__heading">Navigating the World of Specialist Disability Accommodation</h4>
            <p class="card__description">Egestas morbi non at sit in leo fringilla nunc. 
                Sit nisl ornare tempus sed. Vitae leo ac scelerisque eleifend
            </p>
        </div>
        <a href="#card-link" class="card__link"></a>
    </div>
</div>




<!-- Clickable Card Events -->

<div class="card row">            
    <div class="card__content column">
        <div class="events__image-group card__content-image row">
            <div class="card__content-date column ">
                <p class="card__content-date-text date-number">10</p>
                <p class="card__content-date-text subtitle date-month">Jan</p>
            </div>
            <img class="card__image" src="../images/blocks/events-cards/event-card-1.jpg" alt="smiling man with a cap on souped-up wheelchair" width="424" height="213" loading="lazy">
        </div>
        <div class="card__content__text column flexible">
            <p class="card__subtitle subtitle">Community Engagement and Support</p>
            <h4 class="card__heading">
                Lectus feugiat feugiat volutpat nulla eget mattis laoreet sed
            </h4>
            <p class="card__description">10 January 2024  |  10:00am
                Online
            </p>
        </div>
        <a href="#card-link" class="card__link"></a>
    </div>
</div>




    </body>
    
    </html>