<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <link rel="stylesheet" href="../css/button.css">
        <link rel="stylesheet" href="../css/dropdown-properties.css">
        

    </head>
    
    <body>
        <div class="header__dropdown">
            <div class="header__dropdown-top">
                <p>OUR PROPERTIES</p>
                <div class="dropdown__learnmore">
                    <p class="dropdown__text-learnmore">Learn More</p>
                    <img class="dropdown__icon" src="../images/arrow-up-right.svg" alt="arrow up right icon">
                </div>
            </div>
            <div class="header__dropdown-bottom">
                <div>
                    <img class="dropdown__properties-icon" src="../images/properties-vic.svg" alt="victoria region">
                    <p class="dropdown__text-state">VIC</p>
                
                </div>
                <div>
                    <img class="dropdown__properties-icon" src="../images/properties-nsw.svg" alt="new south wales region">
                    <p class="dropdown__text-state">NSW</p>
                </div>
                <div>
                    <img class="dropdown__properties-icon" src="../images/properties-qld.svg" alt="queensland region">
                    <p class="dropdown__text-state">QLD</p>
                </div>
                <div>
                    <img class="dropdown__properties-icon" src="../images/properties-sa.svg" alt="south australia region">
                    <p class="dropdown__text-state">SA</p>
                </div>
                <div>
                    <img class="dropdown__properties-icon" src="../images/properties-act.svg" alt="australian capital territory region">
                    <p class="dropdown__text-state">ACT</p>
                </div>
                <div>
                    <img class="dropdown__properties-icon" src="../images/properties-wa.svg" alt="western australia region">
                    <p class="dropdown__text-state">WA</p>
                </div>

            </div>

        </div>

    </body>
    
    </html>