<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Atoms -->
        <link rel="stylesheet" href="../css/atoms/button.css">

        <!-- Components -->
        <link rel="stylesheet" href="../css/components/header-search-form.css">
        <link rel="stylesheet" href="../css/components/modal.css">
        <!-- Global -->
        <link rel="stylesheet" href="../css/globals/font-face.css">
        <link rel="stylesheet" href="../css/globals/base.css">
        <link rel="stylesheet" href="../css/globals/utilities.css">
     

    </head>
    
    <body>
        
        <section class="modal ">
            <div class="modal__container container is-centered">
                <div class="modal__content">
                    <p class="modal__text">How can we help you today?</p>
                    <div  class="modal__search-wrapper" >
                        <form class="modal__form row" action="">                      
                            <input  class="modal__input"  type="text" id="user_input" name="search" placeholder="Enter a keyword to start searching">
                            <button type="submit">
                                <img class="search-component__image" src="../images/atoms/search.svg" alt="search icon">
                            </button>
                           
                        </form> 
                    </div>
                </div>
            </div>
        </section>


         
       
    </body>
    
</html>