<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Atoms -->
        <link rel="stylesheet" href="../css/atoms/button.css">

  
        <!-- Global -->
        <link rel="stylesheet" href="../css/globals/font-face.css">
        <link rel="stylesheet" href="../css/globals/base.css">
        <link rel="stylesheet" href="../css/globals/utilities.css">
     
      <!-- Components -->
      <link rel="stylesheet" href="../css/components/header-search-form.css">
      <link rel="stylesheet" href="../css/components/modal.css">
    </head>
    
    <body>
        
        <section id="searchModal"  class="modal column">
                       
            <div class="modal__container container ">
                <button class="modal__close-button" type="submit">
                    <img class="close-button" src="../images/atoms/close.svg" alt="close or x icon" width="20px" height="20px" loading="lazy">
                </button>
           
                <div class="modal__content is-centered">
                    <p class="modal__text">How can we help you today?</p>
                    <div  class="modal__search-wrapper" >
                        <form class="modal__form row" action="">                      
                            <input  class="modal__input"  type="text" id="user_input" name="search" placeholder="Enter a keyword to start searching">
                            <button type="submit">
                                <img class="search-component__image" src="../images/atoms/search.svg" alt="search icon">
                            </button>
                           
                        </form> 
                    </div>
                </div>
            </div>
        </section>


         
       
    </body>
    
</html>