<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Atoms -->
        <link rel="stylesheet" href="../css/atoms/button.css">

        <!-- Components -->
        <link rel="stylesheet" href="../css/components/header-search-form.css">
        <link rel="stylesheet" href="../css/components/modal.css">
        <!-- Global -->
        <link rel="stylesheet" href="../css/globals/font-face.css">
        <link rel="stylesheet" href="../css/globals/base.css">
        <link rel="stylesheet" href="../css/globals/utilities.css">
     

    </head>
    
    <body>
        
        <section class="modal ">
            <div class="modal__container container">
                <p class="modal__text">How can we help you today?</p>
                <div>
                    <form class="modal__form row" action="">                      
                        <input type="text" id="user_input" name="lname" value="Enter a keyword to start searching">
                        <img class="search-component__image" src="../images/atoms/search.svg" alt="search icon">
             
                        <!-- <input type="submit" value="Submit"> -->
                      </form> 
                  
                </div>
            </div>
        </section>


         
       
    </body>
    
</html>