<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <!-- Atoms -->
        <link rel="stylesheet" href="../css/atoms/button.css">

        <!-- Components -->
        <link rel="stylesheet" href="../css/components/navigation-dropdown.css">

        <!-- Global -->
        <link rel="stylesheet" href="../css/globals/font-face.css">
        <link rel="stylesheet" href="../css/globals/base.css">
        <link rel="stylesheet" href="../css/globals/utilities.css">

    </head>
    
    <body>
        <h1>Navigation Dropdown Components </h1>
        <hr>
        <h2>Our Properties Dropdown Component </h2>
        <div class="header-dropdown-container column">
            <div class="header-dropdown-properties__top row">
                <p class="header-dropdown-properties__title subtitle">OUR PROPERTIES</p>
                <div class="header-dropdown-properties__learnmore">
                    <a href="#" class="header-dropdown-properties__learnmore-link">
                        <p class="header-dropdown-properties__learnmore-text">Learn More</p>
                        <img class="header-dropdown-properties__arrow-icon" src="../images/components/arrow-up-right.svg" alt="arrow up right icon">
                    </a>
                </div>
            </div>
            <div class="header-dropdown-bottom row">
                <div class="header-dropdown-bottom__regions row">
                    <a href="#" class="header-dropdown-bottom__link">
                        <img class="header-dropdown-bottom__image" src="../images/components/properties-vic.svg" alt="victoria region">
                        <p class="header-dropdown-bottom__text">VIC</p>
                    </a>
                </div>
                <div class="header-dropdown-bottom__regions row">
                    <a href="#" class="header-dropdown-bottom__link">
                        <img class="header-dropdown-bottom__image" src="../images/components/properties-nsw.svg" alt="new south wales region">
                        <p class="header-dropdown-bottom__text">NSW</p>
                    </a>
                </div>
                <div class="header-dropdown-bottom__regions row">
                    <a href="#" class="header-dropdown-bottom__link">
                        <img class="header-dropdown-bottom__image" src="../images/components/properties-qld.svg" alt="queensland region">
                        <p class="header-dropdown-bottom__text">QLD</p>
                    </a>
                </div>
                <div class="header-dropdown-bottom__regions row">
                    <a href="#" class="header-dropdown-bottom__link">
                        <img class="header-dropdown-bottom__image" src="../images/components/properties-sa.svg" alt="south australia region">
                        <p class="header-dropdown-bottom__text">SA</p>
                    </a>
                </div>
                <div class="header-dropdown-bottom__regions row">
                    <a href="#" class="header-dropdown-bottom__link">
                        <img class="header-dropdown-bottom__image" src="../images/components/properties-act.svg" alt="australian capital territory region">
                        <p class="header-dropdown-bottom__text">ACT</p>
                    </a>
                </div>
                <div class="header-dropdown-bottom__regions row">
                    <a href="#" class="header-dropdown-bottom__link">
                        <img class="header-dropdown-bottom__image" src="../images/components/properties-wa.svg" alt="western australia region">
                        <p class="header-dropdown-bottom__text">WA</p>
                    </a>
                </div>
            </div>
        </div>


        <hr>
        <h2>Other Dropdown Components: SDA, ETC </h2>



        <div class="header-dropdown-container row">
         
                <div class="header-dropdown__card">
                    <p>SDA</p>
                  
                    <div class="header-dropdown__left">
                        <a href="#" class="header-dropdown__left-links">
                            <p class="header-dropdown__left-text">About SDA</p>
                        </a>
                        <a href="#" class="header-dropdown__left-links">
                            <p class="header-dropdown__left-text">How to Apply</p>
                        </a>
                        <a href="#" class="header-dropdown__left-links">
                            <p class="header-dropdown__left-text">Eligibility Check</p>
                        </a>
                        <a href="#" class="header-dropdown__left-links">
                            <p class="header-dropdown__left-text">FAQs for Investors, Builders & Developers</p>
                        </a>
                    </div>
                </div>

            
                <div class="header-dropdown__right">
                    <div class="card row">            
                        <div  class="card__content column">
                            <div class="card__content-image">
                                <img class="card__image" src="../images/components/property-card-howto.jpg" alt="building">
                            </div>
                            <div class="card__content__text">
                                <h4 class="card__heading">How to Apply</h4>
                                <p class="card__content">Vehicula mattis fermentum in ultamcorper eleifend. Inderdum.
                                </p>
                            </div>
                        </div>
                    </div>



                    <!-- <div  class="header-dropdown__right-content">
                        <img class="header-dropdown__right-image" src="../images/components/property-card-howto.jpg" alt="building">
                        <div class="header-dropdown__right-text">
                            <h5 class="header-dropdown__right-heading"><strong>How to Apply</strong></h5>
                            <p class="header-dropdown__right-content">Vehicula mattis fermentum in ultamcorper eleifend. Inderdum.</p>
                        </div>
                    </div> -->
                </div>
            
          
        </div>




    </body>
    
    </html>