<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <link rel="stylesheet" href="../css/button.css">
        <link rel="stylesheet" href="../css/navigation-dropdown.css">
        

    </head>
    
    <body>
        <div class="header__dropdown">
            <div class="header__dropdown-top">
                <p class="header_dropdown-title">OUR PROPERTIES</p>
                <div class="dropdown__learnmore">
                    <a href="#" class="learnmore__link">
                        <p class="dropdown__text-learnmore">Learn More</p>
                        <img class="dropdown__arrow-icon" src="../images/arrow-up-right.svg" alt="arrow up right icon">
                    </a>
                </div>
            </div>
            <div class="header__dropdown-bottom">
                <div class="header__dropdown-regions">
                    <a href="#" class="dropdown__link">
                        <img class="dropdown__icon-region" src="../images/properties-vic.svg" alt="victoria region">
                        <p class="dropdown__text-region">VIC</p>
                    </a>
                </div>
                <div class="header__dropdown-regions">
                    <a href="#" class="dropdown__link">
                        <img class="dropdown__icon-region" src="../images/properties-nsw.svg" alt="new south wales region">
                        <p class="dropdown__text-region">NSW</p>
                    </a>
                </div>
                <div class="header__dropdown-regions">
                    <a href="#" class="dropdown__link">
                        <img class="dropdown__icon-region" src="../images/properties-qld.svg" alt="queensland region">
                        <p class="dropdown__text-region">QLD</p>
                    </a>
                </div>
                <div class="header__dropdown-regions">
                    <a href="#" class="dropdown__link">
                        <img class="dropdown__icon-region" src="../images/properties-sa.svg" alt="south australia region">
                        <p class="dropdown__text-region">SA</p>
                    </a>
                </div>
                <div class="header__dropdown-regions">
                    <a href="#" class="dropdown__link">
                        <img class="dropdown__icon-region" src="../images/properties-act.svg" alt="australian capital territory region">
                        <p class="dropdown__text-region">ACT</p>
                    </a>
                </div>
                <div class="header__dropdown-regions">
                    <a href="#" class="dropdown__link">
                        <img class="dropdown__icon-region" src="../images/properties-wa.svg" alt="western australia region">
                        <p class="dropdown__text-region">WA</p>
                    </a>
                </div>
            </div>
        </div>

    </body>
    
    </html>