<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/navigation.css">
        <link rel="stylesheet" href="../css/navlink.css">
        <link rel="stylesheet" href="../css/font-face.css">
       

        </head>
    
    <body>
        <nav class="nav">
            <a href="#" class="nav__link">
                Our Properties
                <img class="nav__icon" src="../images/chevron-down.svg" alt="chevron down icon">
            </a> 
            <a href="#" class="nav__link">
                SDA
                <img class="nav__icon" src="../images/chevron-down.svg" alt="chevron down icon">
            </a> 
            <a href="#" class="nav__link">
                About Us
                <img class="nav__icon" src="../images/chevron-down.svg" alt="chevron down icon">
            </a> 
            <a href="#" class="nav__link">
                Resource Hub
                <img class="nav__icon" src="../images/chevron-down.svg" alt="chevron down icon">
            </a>
            <a href="#" class="nav__link">
                Media & News
                <img class="nav__icon" src="../images/chevron-down.svg" alt="chevron down icon">
            </a>                
        </nav>

    </body>
    
</html>