.card {    
    max-width: 424px;
    width: 100%; 
    padding: 0 1rem;
    margin: 0 auto;
}

.card__content-image {
    width: 424px;
    border-radius: 12px;
}

.card__image {
   object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 12px 
}

.card__content__text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card__content {
    display: flex; /* Added */
    flex-direction: column;
    color: #383838;
    justify-content: center;
    margin: 0;
}

.card__heading {
    color: #1C1C1C;
    margin: 0;
}

.card__subtitle {
    text-transform:uppercase;
  
}