.card {    
    max-width: 424px;
    width: 100%; 
    padding: 0 1rem;
    margin: 0 auto;
}

.card__content-image {
    width: 100%;
   /* width: 424px; */
    border-radius: 12px;
    padding-bottom: 0.5rem;
}

.card__image {
   object-fit: contain;
    width: 100%;
    height: auto;
    border-radius: 12px 
}

.card__content__text {
    width: 100%;
}

.card__content {
    color: #383838;
    justify-content: center;
    margin: 0;
    width: 100%;
}

.card__heading {
    color: #1C1C1C;
   margin: 0;
}

.card__description {
    margin-top: 0.5rem;
}

.card__subtitle {
    text-transform:uppercase;
}