.card {    
    max-width: 424px;
    width: 100%; 
    padding: 1rem;
    margin: 0 auto;
    position: relative;
    
}

.card:hover {
    box-shadow: 0px 4px 32px 17px #00000008;;
}

.card__content-image {
    width: 100%;
   /* width: 424px; */
    border-radius: 12px;
    padding-bottom: 0.5rem;
}

.card__image {
    object-fit: contain;
    width: 100%;
    height: auto;
    border-radius: 12px 
}

.card__content__text {
    width: 100%;
}

.card__content {
    color: #383838;
    justify-content: center;
    margin: 0;
    width: 100%;
}

.card__heading {
   color: #1C1C1C;
   margin: 0;
}

.card__description {
    margin-top: 0.5rem;
}

/* Clickable */
.card__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
  } 

.date-month,
.card__subtitle {
    text-transform:uppercase;
}

/* Card Events*/

.card__content-date {
    width: 64px;
    height: 58px;
    padding: 8px 16px 8px 16px;
    border-radius: 4px;
    background: #0F1828;
    position: absolute;
    top: 7.65px;
    left: 8px;
   color: white;  
  
   
}

.events__image-group {
    position: relative;
}

.date-month,
.date-number,
.card__content-date-text {
    margin: 0;
}


.date-number {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 24px;  
    text-align: left;
}


/* Sidebar Cards */

.sidebar__content {
    gap: 1rem;
}

.sidebar__image-content {
    flex: 1;
}
.sidebar__text-content {
    flex: 2;
}

.sidebar__image {
    align-self: start;
    border-radius: 4px;
}

.sidebar__heading {
    margin: 0;
    color: #1D1E1F;
}

.sidebar__date {
    font-weight: 400;  
    margin: 0;
    letter-spacing: 0px;
    color: #5E5E5E;
    }

/* Media Queries */
@media (max-width: 768px) { 
    .card {
        padding: 0;
    }

  
}