
.search-component {
    display: flex;
    gap: 0.5rem;
    align-items: center;  
  }


 /* Header Button Images and icons  */

.search-component__friesmenu__icon {
    width: 32px;
    height: 32px;
}

.search-component__image {
    width: 20px;
    height: auto;
}

.search-component__friesmenu {
    background: transparent; 
    border: none; 
    cursor: pointer; 
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0;  
}

.search-component__icon-button {
    margin-right: 10px;
}


/* Media Queries */
@media (max-width: 768px) {
    .search-component__friesmenu {
        display: flex;
    }

    .header-link-button,
    .search-component__button {
        display: none; /* Optionally hide other buttons if needed */
    }
}