

.modal__container {
    padding: 0;
}
.modal__content {
    width: 50%;
    margin: auto;
}

.modal__text {
    font-size: 40px;
    font-weight: 700;
    line-height: 48.41px;
    text-align: center;
}

.modal__search-wrapper {
    border-radius: 8px;
    border: 0.3px solid #5E5E5E;
}

.modal__input,
.modal__search-wrapper button  {
    border: none;
}

.modal__input {
    width: 100%;
    height: auto;
    padding: 0.5rem;
    gap: 1rem;
    border: none;
    border-radius: 8px 0px 0px 8px;
}

.modal__input:focus{
    outline: none;
}


.modal__search-wrapper button {
    float: right;
    background: transparent; 
    cursor: pointer;
    padding: 0.5rem;
}

.close-button {
    width: 20px;
    height: 20px;
    fill: #5E5E5E;
   

}