.nav {
    font-weight: 500;   
    /* Review for later */
    flex-wrap: wrap;    
    justify-content: space-between; 
  
}

/*
.nav__dropdown {
    display: flex;  
} */

.navbar__item-list {
    list-style-type: none; 
}

.nav__link {
    position: relative;   /*ADDED */
    display: flex;
    align-items: center;
}

.nav__icon {
    width: 15px;
    height: auto;
    margin-left: 0.4rem;
}

.nav__link:hover {
    background-color: #ffe1d6;
    border-radius: 30px;
}

#enquiryButton {
    display: none;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        display: none;
        width: 100%;
        position: absolute;
        top: 100%; 
        left: 0;
        background-color: #ffffff;
    }
    
    .nav__dropdown a {
        float: left;
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .nav__link {
        width: 100%; 
        justify-content: space-between; 
    }

     /* Show the enquiry button on mobile */
     #enquiryButton {
        display: flex; 
        margin-top: 10px; 
    }
}