/* Fonts / Typography */

.header-dropdown-bottom__text {
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 2px;
    margin-bottom: 0;
    text-align: center;
    color: #0F182880;
}

.header-dropdown-properties__title {
    color: #0F1828;
}

.dropdown-description {
    font-size: 0.875rem;
    line-height: 20px;
    letter-spacing: 0.5px;
}

/* Main Div  Properties */

.header-dropdown-container {
    width: 689px;
    top: 84px;
    left: 410px;
    border-radius: 8px; 
    padding: 16px;
}

/* Top of Properties Dropdown */

.header-dropdown-properties__top {
    justify-content: space-between;
    align-items: center;
}

/* Bottom of Properties Dropdown */

.header-dropdown-bottom {
    justify-content: space-between;
    width: 100%; 
    gap: 28px;
    flex-wrap: wrap;
}

.header-dropdown-bottom__regions {
    align-items: center;
    padding: 1rem;
    border-radius: 6px;
    width: 80px;
    height: auto;
}

.header-dropdown-bottom__regions:hover {
    background-color: #ffe1d6;
    
}   

/* Icons */
.header-dropdown-bottom__image {
    width: 80px;
    height: 80px;
}

/*  ---------------Other Dropdowns----------------- */

/*  SDA Dropdown Section - Left Side */

.header-dropdown__left {
    flex: 1.2;
}

.header-dropdown__links-header {
    margin: 0;
}

.header-dropdown__group-list {
    padding-left: 0;
    margin-top: 0;
}

.dropdown__link {
    list-style: none;
}

.header-dropdown__left-links {
    text-decoration: none;
    color: #0F1828BF;
}

.header-dropdown__left-text {
    font-weight: 500;
}


/* SDA Right Side */
.header-dropdown__right {    
    border-left: 1px solid #0000001A;
    padding-left: 1rem;
    flex: 1;
}

.header-dropdown-img {
    max-width: 240px ;
    width: 100%;
    height: auto;
    border-radius: 12px;
}



/* Media Queries */
@media (max-width: 768px) { 
    .header-dropdown-container {
        width: 361px;
        background-color: #FFE1D640;
    }

    .dropdown-card-sda {
        flex-direction: column;
    }

    .header-dropdown__right {
       padding-left: 0;
       border-left: 0; 
    }

    .header-dropdown__right .card__content.column {
        flex-direction: row;
    }

    .card__content__text {
        padding-left: 1rem;
        flex: 1;
    }

    .card__content-image {
        padding-bottom: 0;
        flex: 1;
    }
   

}