/* Fonts / Typography */

p, .header-dropdown-properties__title {
    font-family: "General Sans", sans-serif;
    font-size: 0.81rem;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: left;
}

.header-dropdown-properties__title {
    color: #0F1828;
}


.header-dropdown-bottom__text { 
    font-size: 1rem;
    margin-top: 0;
    text-align: center;
    color: #0F182880;
}


/* Main Div */

.header-dropdown, .header-dropdown-properties {
    width: 689px;
    height: auto;
    top: 84px;
    left: 410px;
    border-radius: 8px; 
    display: flex;
    padding: 16px; 
    box-sizing: border-box;
}

.header-dropdown-properties {
    flex-direction: column;
}


/* Top of Dropdown */

.header-dropdown-properties__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}




/* Bottom Dropdown Component */

.header-dropdown-bottom, .header-dropdown-bottom__regions {
    display: flex; 
}

.header-dropdown-bottom {
    top: 63px;
    justify-content: space-between;
    width: 100%; 
}

.header-dropdown-bottom__regions {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 6px;
    width: 80px;
    height: 110px;
}

.header-dropdown-bottom__regions:hover {
    background-color: #ffe1d6;
    border-radius: 20px;
}  

.header-dropdown-bottom__link {
    text-decoration: none;
    border-radius: 100px;
}


/* Icons */
.header-dropdown-bottom__image {
    width: 80px;
    height: 80px;
}

/*  Other Dropdowns */

/* Other Dropdowns Font*/
h5 {
    font-family: "General Sans", sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 26px;
    text-align: left;
    color: #1C1C1C;
    margin: 0px;
}

.header-dropdown {
    justify-content: space-evenly;
}


.header-dropdown__right-content {
    width: 240px;
    height: 206px;
    top: 32px;
    left: 417px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.header-dropdown__left {
    width: Hug (306px)px;
    height: Hug (176px)px;
    top: 58px;
    left: 32px;
}

.header-dropdown__right {    
    border-left: 1px solid #0000001A;
    padding-left: 1rem;
}

.header-dropdown__right-image {
    width: 240px;
    height: 120px;
    border-radius: 8px;
}

.header-dropdown__right-text {
    display: flex;
    flex-direction: column;   
}

.header-dropdown__left-links {
    text-decoration: none;
    color: #0F1828BF;
}

.header-dropdown__left- {
    font-size: 1rem;
    font-weight: 500;
    line-height: 24px;
}


.header-dropdown__right-content {
    font-size: 0.87rem;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 0px;
}