html, body {
    margin: 0;
    padding: 0; 
}

/* Fonts */

h1 {
    font-family: "Gotcha Regular", sans-serif;
    font-size: 4.125rem;
    font-weight: 400;
    line-height: 52px;
    text-align: left; 
    color: #007173;
    margin: 0;
}

h1 > span {
    font-family: "General Sans", sans-serif;
    font-size: 3rem;
    font-weight: 600;
    line-height: 52px;
    text-align: left; 
    color: #0F1828;
}

.hero__paragraph,
.contact__paragraph {
    font-family: "General Sans", sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #383838;
}


/* Content */
.container,
.container-contact {
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 10rem;
    }

.container {
    background: linear-gradient(
    to right,
    #F1EAE6 0%,
    #F1EAE6 75%,
    #009496 75%,
    #009496 100%
    );
    }

.container-contact {
    background: linear-gradient(
    to right,
    #009496 0%,
    #009496 25%,
    #F1EAE6 25%,
    #F1EAE6 100%
    );
    }


.hero,
.contact {
    display: flex;
    width: 90%;
    height: auto;
    gap: 5rem;

}

.hero__content,
.hero__main-image,
.contact__content,
.contact__main-image {
    flex: 1;
    display: flex;
}

.hero__content,
.contact__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.hero__buttons,
.contact__buttons {
    display: flex;
    gap: 8px;    
    align-self: flex-start;
}

.hero__img,
.contact__img {
    max-width: 100%;
    height: auto;
    border-radius: 1000px 1000px 0px 0px;
    }

    /* Media Queries */
@media (max-width: 768px) {
     
    .hero__paragraph,
    .contact__paragraph {
    text-align: center; 
}

    .container,
    .container-contact  {
        background: #F1EAE6;
    }

    .hero,
    .contact,
    .hero__buttons,
    .contact__buttons {
        flex-direction: column;
    }

    .contact {
        flex-direction: column-reverse;
    }

    .hero__buttons,
    .contact__buttons {
        width: 100%;
    }

}