/* Content */
.container-feature {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #FFE1D640;
    box-sizing: border-box;
}

.feature {
    display: flex;
    width: 90%;
    height: auto;
}

.feature__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 2rem;
}

.feature__text-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.feature__text-button {
    padding-top: 1rem;
}

.feature__image-group {
    flex: 1.5;
    display: flex;
}

.feature__image-group {
    flex-direction: column;
}

.feature__img {
    border-radius: 8px;
    max-width: 100%;  /*ADDED */
    height: auto;
}

/* Media Queries */
@media (max-width: 768px) {

    .container-feature {
    padding-top: 20rem;
    padding-bottom: 25rem;
}

    .feature__content {
        flex-direction: column;
    }
    
}