/* Content */
.container-feature {
    background-color: #FFE1D640;
}

.feature {
    padding: 2rem;
} 

.feature__content {
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-bottom: 2rem;
}

.feature__text-group {
    flex: 1;
    justify-content: flex-start;
}

.feature__text-description {
    padding-bottom: 1rem;
}

.feature__image-group {
    flex: 1.5;
}

.feature__img {
    border-radius: 8px;
    max-width: 100%;  
    height: auto;
}


/* Media Queries */
@media (max-width: 768px) {

    .feature__content {
        flex-direction: column;
    }
    
   
}