.container-hero {
    background: linear-gradient(
    to right,
    #F1EAE6 0%,
    #F1EAE6 75%,
    #009496 75%,
    #009496 100%
    );
    }


.container-contact {
    background: linear-gradient(
    to right,
    #009496 0%,
    #009496 25%,
    #F1EAE6 25%,
    #F1EAE6 100%
    );
    }

.container-about {
    background: #FFFFFF;
}

.hero__buttons,
.contact__buttons {
    gap: 8px;    
    align-self: flex-start;
}

.hero__img,
.contact__img {
    max-width: 100%;
    height: auto;
    border-radius: 1000px 1000px 0px 0px;
    }

.about-us__header {
    margin-top: 0;
}

.about-us__img {
    max-width: 100%;
    width: 648px;
    height: auto;
    object-fit: contain;
}    

/* Value Proposition Section */

.container-proposition {
    align-items: center;
    padding: 5rem;
    background: linear-gradient(
    to right,
    #09443E 0%,
    #09443E 75%,
    #FFE1D6 75%,
    #FFE1D6 100%
    );
    }


.proposition {
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    }


.proposition__description {
    border-radius: 16px;
    background-color: #0B3938;
    padding: 1rem;
    margin-bottom: 1rem;
}

.proposition__description-list {
    padding: 0 1rem;
}

.proposition__img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

    /* Media Queries */
@media (max-width: 768px) {

    .container-hero,
    .container-contact {
        background: #F1EAE6;
    }

    .container-about {
        background: #FFFFFF;
    }

    .container-proposition {
        background: #09443E;
    }

    .hero,
    .hero__buttons,
    .contact__buttons,
    .proposition,
    .proposition__description {
        flex-direction: column;
    }

    .contact,
    .about-us {
        flex-direction: column-reverse;
    }

   
}
