/* Content */
.container-feature {
    background-color: #FFE1D640;
}

.feature {
    padding: 2rem;
} 

.feature__content {
    gap: 3rem;
    padding-bottom: 2rem;
}

.feature__text-group {
    justify-content: flex-start;
    padding-top: 5rem;
}


.feature__image-group {
    flex: 1.5;
}

.feature__img {
    border-radius: 8px;
    max-width: 100%;  
    height: auto;
}


/* Media Queries */
@media (max-width: 768px) {
    .feature__content,
    .feature__text-button {
        flex-direction: column;
    }
    .feature__text-group {
        padding-top: 0;
    }

    .feature__content {
        gap: 1rem;
}