html, body {
    margin: 0;
    padding: 0; 
}

/* Fonts */

h1, h2 {
    font-family: "Gotcha Regular", sans-serif;
    font-size: 4.125rem;
    font-weight: 400;
    line-height: 52px;
    text-align: left; 
    color: #007173;
    margin: 0;
}

h1 > span,
h2 > span {
    font-size: 3rem;
    line-height: 52px;
    color: #0F1828;
}

h1 > span,
h2 > span, 
.about-us__subtitle,
.proposition__header {
    font-family: "General Sans", sans-serif;  
    font-weight: 600;
    text-align: left;
}

.about-us__subtitle {
    font-size: 0.813rem;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: left;
    color: #0F1828BF;
}

.proposition__header {
    font-size: 40px;
    line-height: 44px;
    color: #FFFFFF;
}

.proposition__header > span {
    font-family: "Gotcha Regular", sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 44px;
    text-align: left;
    color: #FFE1D6;
}


.proposition__title {
    font-family: "General Sans", sans-serif;
    font-size: 1.625rem;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    color: #FFFFFF;
}

.hero__paragraph,
.contact__paragraph,
.about-us__paragraph,
.proposition__header-paragraph {
    font-family: "General Sans", sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

.hero__paragraph,
.contact__paragraph,
.about-us__paragraph {
    color: #383838;
}

.proposition__header-paragraph,
.proposition__paragraph {
    color: #F1EAE6;
}

.proposition__paragraph {
    font-family: "General Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    }

.proposition__number {
    font-family: "Geist Mono", monospace;
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #FAE6AA;
}

/* Content */
.container,
.container-contact,
.container-about {
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    }
   

.container {
    background: linear-gradient(
    to right,
    #F1EAE6 0%,
    #F1EAE6 75%,
    #009496 75%,
    #009496 100%
    );
    }

.container-contact {
    background: linear-gradient(
    to right,
    #009496 0%,
    #009496 25%,
    #F1EAE6 25%,
    #F1EAE6 100%
    );
    }

.container-about {
    background: #FFFFFF;
}
 

.hero,
.contact,
.about-us {
    display: flex;
    width: 90%;
    height: auto;
    gap: 5rem;

}

.hero__content,
.hero__main-image,
.contact__content,
.contact__main-image,
.about-us__content,
.about-us__main-image {
    flex: 1;
    display: flex;
}

.hero__content,
.contact__content,
.about-us__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__buttons,
.contact__buttons {
    display: flex;
    gap: 8px;    
    align-self: flex-start;
}

.hero__img,
.contact__img {
    max-width: 100%;
    height: auto;
    border-radius: 1000px 1000px 0px 0px;
    }


.about-us__img {
    max-width: 100%;
    width: 648px;
    height: auto;
    object-fit: contain;
}    


/* Value Proposition Section */

.container-proposition {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 5rem;
    background: linear-gradient(
    to right,
    #09443E 0%,
    #09443E 75%,
    #FFE1D6 75%,
    #FFE1D6 100%
    );
    }


.proposition {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    gap: 2rem;
    flex-wrap: wrap;
    }

.proposition__description,
.proposition__content,
.proposition__text-top {
    display: flex;
}

.proposition__description {
    border-radius: 16px;
    background-color: #0B3938;
    margin-bottom: 0.5rem;
    padding: 1rem;
}

.proposition__description-list {
    padding: 0 1rem;
}

.proposition__content,
.proposition__text-top {
    flex-direction: column;
}

.proposition__content,
.proposition__main-image {
  flex: 1;
}

.proposition__title,
.proposition__paragraph {
    margin: 0;
    padding: 0.3rem;
}


.proposition__main-image {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.proposition__img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

    /* Media Queries */
@media (max-width: 768px) {
     
    .hero__paragraph,
    .contact__paragraph {
    text-align: center; 
}

    .container,
    .container-contact,
    .container-about {
        padding-top: 20rem;
    }

    .container,
    .container-contact {
        background: #F1EAE6;
    }

    .container-proposition {
        background: #0B3938;
    }

    .hero,
    .hero__buttons,
    .contact__buttons {
        flex-direction: column;
    }

    .contact,
    .about-us {
        flex-direction: column-reverse;
    }

    .hero__buttons,
    .contact__buttons {
        width: 100%;
    }


}