/* FONT */

.properties_navlink {
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 26px;
    color: #0F1828;
}


/* Content */

.properties {
    padding: 3rem 0;
}

.properties__content {
    gap: 5rem;
    width: 100%;
}

.properties__navigation-links {
    width: 20%;
    padding-top: 2.5rem;
}

.properties__group-links {
    list-style-type: none;
    gap: 0.5rem;
    margin: 0;  
    padding: 0; 
}

.properties__group-links li {
    padding: 0.75rem  1rem; 
}

.properties__main-image {
    width: 100%;
}

.properties__img {
    max-width: 100%; 
    height: auto; 
}

.properties__link-icon {
    display: none;
    width: 120px;
    height: 120px;
}



/*  Statistics Section */
.container-statistics {
    background-color: #0F18280D;
}

.statistics {
    padding: 1rem 0; 
    gap: 2.5rem;
}

.statistics__description > p.paragraph_regular {
    margin: 0;
    color: #0F1828;
}

.statistics__text-group {
    flex: 1.5;
}

.statistics__text-statgroup {
    gap: 1rem;
    padding: 1rem 0;
}

.statistics__group {
    background-color: #FFFFFF;
    padding: 1rem;
    border-radius: 16px;
}

.statistics__text-buttons {
    gap: 1rem;
    align-items: center;
}

.statistics-video {
    max-width: 100%;
    height: auto;   
}

.statistics-video-clip {
    max-width: 100%;
    height: auto;
}


/* News and Resources */
.news {
    padding: 3rem 2rem;
    gap: 1.5rem;
}

.news__header {
    justify-content: space-between;
}

.news-subtitle {
    color: #007173;
    margin-bottom: 0.5rem;
    }

/* Media Queries */
@media (max-width: 768px) {

    /* Properties Section */

    .properties__navigation-links {
        width: 100%;
    }
    
    .properties__content {
        flex-direction: column;
        align-items: center; 
        gap: 2rem;
    }

    .properties__link-icon {
        display: flex;
    }

    .properties__link {
        width: 100%;
    }

    .properties_navlink {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .properties__main-image {
        display: none;
    }

    .properties__group-links {
        display: grid; 
        grid-template-columns: 1fr; 
        gap: 1rem;
    }

    .properties__header-link {
        grid-column: span 2;
    }

    

    .properties__link {
        grid-column: span 1; 
    }

     /* Statistics Section */

     .statistics__content,
     .statistics__text-statgroup,
     .statistics__text-buttons,
     .news,
     .news__header,
     .news__card-group {
        flex-direction: column;
     }

     .statistics__description {
        padding-top: 2rem;
     }

     .statistics__text-buttons {
        align-items: normal;
        gap: 0;
    }

    .statistics__text-buttons > .header-dropdown-properties__learnmore-link {
        align-self: center;
    }

     /* News and Resources */
     .news__card-group {
        gap: 2rem;
     }

}