/* FONT */

.properties_navlink {
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 26px;
    color: #0F1828;
}


/* Content */

.properties {
    padding: 3rem 0;
}

.properties__content {
    gap: 5rem;
}
   

.properties__group-links {
    list-style-type: none;
    gap: 0.5rem;
    margin: 0;  
    padding: 0; 
    display: flex;
    flex-direction: column; 
}


.properties__group-links li {
    box-sizing: border-box;
    padding: 0.75rem  1rem; 
}

.properties__main-image {
    width: 100%;
    display: flex; 
    justify-content: center; 
}

.properties__img {
    max-width: 100%; 
    height: auto; 
}


.properties__link-icon {
    display: none;
}



/*  Statistics Section */
.container-statistics {
    background-color: #0F18280D;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 5rem;
}
.container-statistics {
    flex-direction: column;
}
.statistics,
.statistics__text-statgroup,
.statistics__text,
.statistics__text-buttons {
    display: flex;
}

.statistics__header,
.statistics__text-group {
    flex: 1;
}

.statistics__text-group {
    flex: 1.5;
    padding-bottom: 2rem;
}

.statistics {
    width: 90%;
    height: auto;
}




.statistics__text-statgroup {
    gap: 1rem;
}

.statistics__text {
    padding: 1rem;
}

.statistics__group {
    background-color: #FFFFFF;
    padding: 1rem;
    border-radius: 16px;
}

.statistics-video {
    max-width: 100%;
    height: auto;
}

.statistics__text-buttons {
    margin-left: 1rem;
    gap: 2rem;
}

.statistics-video-clip {
    max-width: 100%;
    height: auto;
}


/* News and Resources */
.news {
    width: 100%;
    padding: 3rem 2rem;
}

.news__header {
    justify-content: space-between;
    padding: 2rem;
}


/* Media Queries */
@media (max-width: 768px) {
    .properties__content {
        flex-direction: column;
        align-items: center; 
        gap: 2rem;
    }

    .properties__link-icon {
        display: flex;
    }

    .properties__link {
        width: 100%; 
    }

    .properties__main-image {
        display: none;
    }


    .properties__group-links {
        display: grid; 
        grid-template-columns: 1fr; 
        gap: 1rem;
    }

    .properties__header-link {
        grid-column: span 2;
    }

    .properties__link {
        grid-column: span 1; 
    }

   

}