.container-news {
    background: #09443E;
}

.news__headings {   
    color: #ffffff;
}

.news__title,
.news__span {
    text-align: center;
}

.news__heading-subtitle {
    color: #F1EAE6;
}

.news__card-group {
    background: #FFFFFF;
    width: 100%;
    padding: 52px;
    border-radius: 16px;
}

.news__card-group__cards {
    width: 100%;
}


.news__card-item {
    flex: 1;
}
/*
.news-card-img {
    width: 424px;
     height: auto;
} */