.container-news {
    background: #09443E;
    padding: 5rem 0;
}

.news__headings-group {
    width: 100%;
    padding-bottom: 5rem;
}

.news__headings {   
    color: #ffffff;
}

.news__heading-subtitle,
.news__title,
.news__span {
    text-align: center;
}

.news__title {
    margin-bottom: 0;
}

.news__heading-subtitle {
    color: #F1EAE6;
}

.news__card-group {
    background: #FFFFFF;
    width: 100%;
    padding: 52px;
    border-radius: 16px;
}

.news__card-group__cards {
    width: 100%;
}

.news__cards {
    flex-wrap: wrap;
}

.news__card-item {
    flex: 0 1 32%;
    padding: 0;
}

.news__card-group__buttons {
    padding-top: 2rem;
}

.news__card-group__filter-group {
    width: 100%;
    padding: 1rem 0;
}

.news__card-group__filter {
    justify-content: space-between;
}

.news__card-group__filter-items {
    gap: 12px;
}


/* Media Queries */
@media (max-width: 768px) { 
    .news__group {
        padding: 0;
    }

    .news__headings-group {
        padding: 0 1rem 5rem 1rem;
    }

    .news__card-group__filter {
        flex-direction: column;
        gap: 2rem;
        padding-bottom: 1rem;
    }

    .news__card-group {
        padding: 2rem 0;
        border-radius: 0;
    }

    .news__card-group__filter-group {
        padding: 0 1.8rem;
    }

.news__cards {
    flex-direction: column;
}

}
