.container-news {
    background: #09443E;
    padding: 5rem 0;
}

.news__headings {   
    color: #ffffff;
}

.news__title,
.news__span {
    text-align: center;
}

.news__heading-subtitle {
    color: #F1EAE6;
}

.news__card-group {
    background: #FFFFFF;
    width: 100%;
    padding: 52px;
    border-radius: 16px;
   
}

.news__card-group__cards {
    width: 100%;
   
}


.news__cards {
    flex:  0 1 24%;
    flex-wrap: wrap;
   
}

.news__card-item {
    flex: 0 1 33%;
    padding: 0;
}


.news__card-group__buttons {
    padding-top: 2rem;
}
.news__card-group__filter-group {
    width: 100%;
}
.news__card-group__filter {
    justify-content: space-between;
}


/*
.news-card-img {
    width: 424px;
     height: auto;
} */

/* Filter */
