/* Title Section */
.single-page-container {
    padding: 0;
}

.single-page__main-image {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
}

.single-page__breadcrumb {
   position: absolute;
   top: 8rem;
   left: 2rem;
}

.single-page__image {
    width: 100%;
}

.single-page__side-heading {
    align-self: flex-end;
    padding-bottom: 1rem;
    
}
.single-page__headings {
    padding: 0 2rem;
    background-color: #FAE6AA;   
    
}

.single-page__side-title {
    text-transform: uppercase;
    margin: 0;
}

.single-page__main-title {
    border-left: 1px solid #00000033;
    padding-left: 3rem;
    padding-bottom: 2rem;
}

.single-page__author {
    width: 64px;
    height: auto;
}

.single-page__author-group {
    gap: 2rem;
    align-items: center;
}

.single-page__author-image {
    width: 72px;
    height: auto;
    border-radius: 50%;
}

.single-page__author-name,
.single-page__author-title {
    margin: 0;

}