/* Title Section */
.single-page-container {
    padding: 0;
}

.single-page-group {
    gap: 0;
}

.single-page__main-image {
    width: 100%;
    position: relative;
    text-align: center;
}

.single-page__breadcrumb {
    position: absolute;
    top: 8rem;
    left: 2rem;
}

.single-page__image {
    width: 100%;
    display: block;
}

.single-page__headings {
    padding: 1rem;
}

.headings-news {
    background-color: #FAE6AA;
}

.headings-events {
    background-color: #FFE1D6;
}

.single-page__side-heading {
    align-self: flex-end;
    padding: 1rem;
    width: 25%;
}

.single-page__side-title {
    text-transform: uppercase;
    margin: 0;
}

.single-page__side-datebox {
    padding: 12px 20px;
    margin-top: 1rem;
    border-radius: 8px;
    background: #F6BBA5;
}

.single-page__main-title {
    border-left: 1px solid #00000033;
    padding: 2rem;
    width: 75%;
}

.single-page__author-group {
    gap: 2rem;
    align-items: center;
}

.single-page__author {
    width: 64px;
}

.single-page__author-image {
    width: 72px;
    height: auto;
    border-radius: 50%;
}


/* Sidebar */
.sidebar {
    width: 25%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 1rem;
    background: #FFFFFF;
}

.sidebar__card-group,
.sidebar__card-group-events {
    border-bottom: 1px solid #00000033;
    padding-bottom: 1rem;
}

.sidebar__card-group-events,
.sidebar__socmed {
    padding-top: 1rem;
}

.sidebar__socmed-group {
    align-items: center;
    gap: 1rem;
}

.sidebar__subtitle,
.sidebar__socmed-title {
    text-transform: uppercase;
}

.sidebar__socmed-icon {
    width: 24px;
    height: 24px;
}

.sidebar__events-date {
    margin: 0;
}

/* Main Blog */
.main-blog {
    justify-content: space-between;
}

.blog__content {
    width: 75%;
    background: #FFFFFF;
}

.blog__content-text {
    padding: 2rem;
}

/* Blog Text */
figure {
    margin: 0;
}

.blog__image {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 8px;
}

.blog__image-text {
    font-style: italic;
    letter-spacing: 0.5px;
    color: #5E5E5E;
}

.blog__lead-text {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    color: #0F1828;
}

.blog__heading-text {
    color: #0F1828;
}

.blog__block-text {
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #007173;
    border-left: 6px solid #007173;
    padding-left: 1.5rem;
}

.blog__content-button {
    padding: 3rem 0;
}
