.button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }

  .header--button {
    background-color: #017173;
    color: white;
  }