nav {
    display: block;
  }


nav .nav--link {
    color: #333333;
    float: left;
    font-size: 17px;
    padding: 14px 16px;
    text-decoration: none;
  }


nav .nav--icon {
    width: 16px;
    height: auto;


}